/* ==========================================================================
   1. Reset And common tweaks
   ========================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, section {
  display: block;
}
nav {
  display: -webkit-inline-box;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

 p, ul, li,  pre, b, cite, code, small, nav, blockquote, article, nav, label, table {
  font-weight: 400;
  font-size: 1.1em;
  font-family: 'Lato', sans-serif !important;
  letter-spacing: 1px;
  padding:1rem 0px;
  line-height: 1.8;
}
 h1, h2, h3, h4, h5, h6,strong {
   font-weight: 300;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}
a {
    font-weight: 400;
    font-size: 1.1em;
    font-family: 'Lato', sans-serif !important;
    color: #199ae3;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-decoration: none;
}
a:hover {
    text-decoration:none;
    color:#2a2a2a;
}
.blue {
  color: #199AE3;
}
.divider {
  height: 1px;
  padding:;
  border-bottom: 1px solid #e5e5e5;
  opacity:0.6;
  clear: both;
}
.right {
  float: right;
}
.left {
  float: left;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 12px;
}
strong {
	font-size: 20px;
}
.bold {
	font-weight: 400;
}
.small {
	font-size: 11.5px;
}

::selection {
background-color: #1e1e1e;
color: #fff;
}